Source: libcariad-driver-linuxevent
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-driver-linuxevent
Replaces: libdisplaycore-driver-linuxevent
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Drivers
XBSC-Subsubgroup: Touchscreen
Depends: libcariad-core
Provides: LinuxEvent.h
Description: Linux Input Events
 Receive touchscreen events through the Linux /dev/input/event*
 framework.



